body {
    width: 100vw;
    height: 100%;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logout {
    margin-bottom: 3rem;
    width: 10rem;
    float: right;
}
.logo-main {
    width: 10rem;
    height: auto;
}
