body {
    width: 100vw;
    height: 100%;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_header {
    display: flex;
    margin: 3rem 3rem 1rem 1rem;
}
#logout {
    margin-left: auto;
    width: 10rem;
    height: 1 rem;
    display: inline-block;
    vertical-align: middle;
}
.logo-main {
    width: 20rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
