#FullCalendar {
    float: left;
    width: 80%;
}

#Detail {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: rgb(221, 248, 248);
}

#TodayDate {
    background-color: rgb(2, 230, 230);
    height: 4%;
    text-align: center;
    margin: 5px 25px;
    color: white;
}

#TodaySchedule {
    height: 45%;
    background-color: #3eacd7;
    margin: 5px 25px;
}

#TodayInOut {
    height: 45%;
    background-color: #5fb7b7;
    margin: 5px 25px;
}

#daySchedule {
    color: white;
}

#dayInOut {
    color: white;
}

li {
    color: white;
}

.fc-today-button {
    background-color: #468cb4 !important;
    /* background-color: #1E90FF !important; */
    background-image: none !important;
}

.fc-prev-button,
.fc-next-button {
    background-color: #afeeee !important;
    /* background-color: #90EE90 !important; */
    background-image: none !important;
}

.fc-day-today {
    background: #e0f8f1 !important;
}

.fc-custom1-button {
    background: #90ee90 !important;
}

.fc-highlight {
    background: #e4fce4 !important;
}

.fc td {
    height: 130px !important;
}

.calendar-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;

    grid-template-columns: 3fr 1fr;
}
.Detail {
    position: relative;
    width: 100%;
    display: flex;
}
.dateSelected {
    position: relative;
    width: 100%;
}
